<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395205383751-m39e0j9bedf4s6l10s3tu5d7g0i1upd9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395205383751-m39e0j9bedf4s6l10s3tu5d7g0i1upd9</string>
	<key>API_KEY</key>
	<string>AIzaSyDt4ewKbC2T_b8xPwRAtmxcgsL6HLeGp_8</string>
	<key>GCM_SENDER_ID</key>
	<string>395205383751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mystore</string>
	<key>PROJECT_ID</key>
	<string>mystore-9d16d</string>
	<key>STORAGE_BUCKET</key>
	<string>mystore-9d16d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395205383751:ios:2a509d54c49a3a7f408362</string>
</dict>
</plist>